<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<div 
<label for="FirstName">First Name </label></label>
<label id="FirstName">First Name </label></label>
<label for="LastName">Last Name </label></label>
<label id="LastName">Last Name </label></label>
    </div>

<div>
<label for="FirstName">First Name </label></label>
<label for="FirstName">First Name </label></label>
<label for="FirstName">First Name </label></label>
<label for="FirstName">First Name </label></label>
<label for="FirstName">First Name </label></label>
<label for="FirstName">First Name </label></label>
</div>










<select